## Music Recommendation System (Machine Learning)

### Obtaining Data

In [33]:
import pandas as pd
import numpy as np

In [34]:
final = pd.read_csv('datasets/final/final.csv')
metadata = pd.read_csv('datasets/final/metadata.csv')

In [35]:
final.shape

(13129, 930)

### Model Selection - K Means Algorithm

In [36]:
final.head()

,Unnamed: 0,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,...,Holiday,Salsa,NuJazz,HipHop Beats,Modern Jazz,Turkish,Tango,Fado,Christmas,Instrumental
0,0,2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
metadata.head()

   track_id           album_title artist_name   genre   track_title
0         2  AWOL - A Way Of Life        AWOL  HipHop          Food
1         3  AWOL - A Way Of Life        AWOL  HipHop  Electric Ave
2         5  AWOL - A Way Of Life        AWOL  HipHop    This World
3        10     Constant Hitmaker   Kurt Vile     Pop       Freeway
4       134  AWOL - A Way Of Life        AWOL  HipHop  Street Music

In [38]:
from sklearn.cluster import KMeans
from sklearn.utils import shuffle

In [39]:
final = shuffle(final)

In [40]:
X = final.loc[[i for i in range(0, 6000)]]
Y = final.loc[[i for i in range(6000, final.shape[0])]]

In [41]:
X = shuffle(X)
Y = shuffle(Y)

In [42]:
metadata = metadata.set_index('track_id')

In [43]:
metadata.head()

                   album_title artist_name   genre   track_title
track_id
2         AWOL - A Way Of Life        AWOL  HipHop          Food
3         AWOL - A Way Of Life        AWOL  HipHop  Electric Ave
5         AWOL - A Way Of Life        AWOL  HipHop    This World
10           Constant Hitmaker   Kurt Vile     Pop       Freeway
134       AWOL - A Way Of Life        AWOL  HipHop  Street Music

In [84]:
kmeans = KMeans(n_clusters=12)

In [85]:
Y.head()

,Unnamed: 0,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,...,Holiday,Salsa,NuJazz,HipHop Beats,Modern Jazz,Turkish,Tango,Fado,Christmas,Instrumental
6176,6176,25238,0.138282,0.234808,0.874530,0.894640,0.085179,0.054151,88.059,0.507295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6159,6159,25172,0.995769,0.575536,0.072498,0.951810,0.362845,0.156567,134.222,0.749784,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12105,12105,87559,0.964847,0.547571,0.244294,0.905220,0.108155,0.059238,120.112,0.736440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7709,7709,33201,0.234800,0.558655,0.611882,0.780468,0.339537,0.044680,85.361,0.910445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7354,7354,32053,0.000011,0.607946,0.509397,0.923513,0.076340,0.065509,130.072,0.452144,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
def fit(df, algo, flag=0):
    if flag:
        algo.fit(df)
        x1=algo.inertia_
        y1=str(x1)
        z1=int(y1[0:2])
    else:
         algo.partial_fit(df)          
    df['label'] = algo.labels_
    return (df, algo,z1)

In [113]:
def predict(t, Y):
    y_pred = t[1].predict(Y)
    mode = pd.Series(y_pred).mode()
    return t[0][t[0]['label'] == mode.loc[0]]

In [114]:
def recommend(recommendations, meta, Y):
    dat = []
    for i in Y['track_id']:
        dat.append(i)
    genre_mode = meta.loc[dat]['genre'].mode()
    artist_mode = meta.loc[dat]['artist_name'].mode()
    return meta[meta['genre'] == genre_mode.iloc[0]], meta[meta['artist_name'] == artist_mode.iloc[0]], meta.loc[recommendations['track_id']]

In [115]:
t = fit(X, kmeans, 1)

In [116]:
print(t)

(      Unnamed: 0  track_id  acousticness  danceability    energy  \
3489        3489     13836      0.000084      0.605312  0.606752
2640        2640     11207      0.154285      0.766308  0.404703
393          393      1062      0.058243      0.390318  0.925032
1796        1796      5184      0.930605      0.411127  0.525278
3067        3067     12353      0.971714      0.240523  0.394977
...          ...       ...           ...           ...       ...
1865        1865      5622      0.978399      0.228226  0.684863
1770        1770      5152      0.903758      0.328281  0.538576
3109        3109     12487      0.989576      0.569788  0.345510
5623        5623     22560      0.917550      0.386694  0.700437
5625        5625     22590      0.893640      0.250598  0.247589

      instrumentalness  liveness  speechiness    tempo   valence  ...  Salsa  \
3489          0.883226  0.302801     0.038772   87.006  0.265525  ...    0.0
2640          0.911013  0.080630     0.035797  120.022  0.704941  ...    0.0
393           0.883385  0.066263     0.034770   89.986  0.481056  ...    0.0
1796          0.955977  0.158250     0.035667  102.725  0.768850  ...    0.0
3067          0.938974  0.287330     0.054561   76.510  0.094547  ...    0.0
...                ...       ...          ...      ...       ...  ...    ...
1865          0.708027  0.141580     0.043829  172.139  0.846862  ...    0.0
1770          0.853518  0.420913     0.041013  156.512  0.654368  ...    0.0
3109          0.952731  0.110906     0.029165   99.409  0.576091  ...    0.0
5623          0.766893  0.097152     0.071466   91.196  0.158040  ...    0.0
5625          0.970903  0.120247     0.037380  145.144  0.542638  ...    0.0

      NuJazz  HipHop Beats  Modern Jazz  Turkish  Tango  Fado  Christmas  \
3489     0.0           0.0          0.0      0.0    0.0   0.0        0.0
2640     0.0           0.0          0.0      0.0    0.0   0.0        0.0
393      0.0           0.0          0.0      0.0    0.0   0.0        0.0
1796     0.0           0.0          0.0      0.0    0.0   0.0        0.0
3067     0.0           0.0          0.0      0.0    0.0   0.0        0.0
...      ...           ...          ...      ...    ...   ...        ...
1865     0.0           0.0          0.0      0.0    0.0   0.0        0.0
1770     0.0           0.0          0.0      0.0    0.0   0.0        0.0
3109     0.0           0.0          0.0      0.0    0.0   0.0        0.0
5623     0.0           0.0          0.0      0.0    0.0   0.0        0.0
5625     0.0           0.0          0.0      0.0    0.0   0.0        0.0

      Instrumental  label
3489           0.0      4
2640           0.0      4
393            0.0      9
1796           0.0      9
3067           0.0      0
...            ...    ...
1865           0.0      9
1770           0.0      9
3109           0.0      0
5623           0.0      0
5625           0.0      4

[6000 rows x 931 columns], KMeans(n_clusters=12), 16)

In [51]:
recommendations = predict(t, Y)

In [52]:
output = recommend(recommendations, metadata, Y)

In [53]:
genre_recommend, artist_name_recommend, mixed_recommend = output[0], output[1], output[2]

In [54]:
genre_recommend.shape

(3892, 4)

In [55]:
artist_name_recommend.shape

(52, 4)

In [56]:
mixed_recommend.shape

(1150, 4)

In [58]:
# Genre wise recommendations
genre_recommend.head()

              album_title     artist_name genre                 track_title
track_id
153        Arc and Sender  Arc and Sender  Rock          Hundred-Year Flood
154        Arc and Sender  Arc and Sender  Rock         Squares And Circles
155       unreleased demo  Arc and Sender  Rock     Maps of the Stars Homes
169          Boss of Goth      Argumentix  Rock                Boss of Goth
170          Nightmarcher      Argumentix  Rock  Industry Standard Massacre

In [59]:
# Artist wise recommendations
artist_name_recommend.head()

,album_title,artist_name,genre,track_title
track_id,,,,
34660,Zehu,51%,AvantGarde|International|Blues|Jazz|,Hadri Ha'Kat
34661,Zehu,51%,AvantGarde|International|Blues|Jazz|,Blender Tzivoni
34662,Zehu,51%,AvantGarde|International|Blues|Jazz|,Naniah
34663,Zehu,51%,AvantGarde|International|Blues|Jazz|,Yoter Miday
34664,Zehu,51%,AvantGarde|International|Blues|Jazz|,"Yamim, Lielot"

In [60]:
# Mixed Recommendations
mixed_recommend.head()

,album_title,artist_name,genre,track_title
track_id,,,,
13836,Traverse,Micoland &amp; Holly Bretton,Electronic,Unforseen Forces
11207,netBloc Vol. 20: music to accompany the world ...,The Black Hakawati,Jazz,There's A Hole At The End Of Tunnel
13833,Traverse,Micoland &amp; Holly Bretton,Electronic,Expect It To Go
14796,Philly Time!,kilowatts,Electronic,luna rd
18780,La Maquina Olvidada,Rebe,Rock,Odisea

In [61]:
recommendations.head()

,Unnamed: 0,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,...,Salsa,NuJazz,HipHop Beats,Modern Jazz,Turkish,Tango,Fado,Christmas,Instrumental,label
3489,3489,13836,0.000084,0.605312,0.606752,0.883226,0.302801,0.038772,87.006,0.265525,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2640,2640,11207,0.154285,0.766308,0.404703,0.911013,0.080630,0.035797,120.022,0.704941,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3486,3486,13833,0.083293,0.626639,0.616600,0.676669,0.100083,0.040990,125.014,0.446366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3762,3762,14796,0.115338,0.849225,0.481420,0.871368,0.102239,0.137381,127.987,0.155282,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4726,4726,18780,0.440524,0.846833,0.304375,0.426985,0.307606,0.055133,130.048,0.559794,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [62]:
artist_name_recommend['artist_name'].value_counts()

51%    52
Name: artist_name, dtype: int64

In [63]:
genre_recommend['genre'].value_counts()

Rock    3892
Name: genre, dtype: int64

In [64]:
genre_recommend['artist_name'].value_counts()

Glove Compartment        65
Blah Blah Blah           62
Mors Ontologica          50
Les Baudouins Morts      38
Kraus                    35
                         ..
NanowaR Of Steel          1
The Austerity Program     1
Delusions of Grandeur     1
Alan Vega & Oneida        1
All The Hats              1
Name: artist_name, Length: 725, dtype: int64

#### Testing

In [66]:
testing = Y.iloc[6:12]['track_id']

In [67]:
testing

8433      37123
12677    111670
6096      24831
8950      40078
11540     67236
12583    108961
Name: track_id, dtype: int64

In [68]:
ids = testing.loc[testing.index]

In [69]:
songs = metadata.loc[testing.loc[list(testing.index)]]

In [70]:
songs

,album_title,artist_name,genre,track_title
track_id,,,,
37123,Calling All Fiends,"Waiters, the",AvantGarde|International|,13 O' Clock in the Morning
111670,Live on WFMU's Burn It Down! with Nate K: Nov ...,Nots,Rock,Get Along
24831,Chopin Preludes 4 & 9,Paul Cantrell,Classical,Chopin: Prelude Op 28 No 9
40078,Negativeland,Kido,Electronic,Er-calculate
67236,We Are The Lovers,WHO'S PANDA,AvantGarde|International|,Vultures
108961,Unquietness,The Mystery Artist,Rock,Mr. Person

In [71]:
re = predict(t, Y.iloc[6:12])

In [72]:
output = recommend(re, metadata, Y.iloc[6:12])

In [73]:
ge_re, ge_ar, ge_mix = output[0], output[1], output[2]

In [74]:
ge_re.head()

,album_title,artist_name,genre,track_title
track_id,,,,
236,Bersa Discos #8,Banana Clipz,AvantGarde|International|,"Push Am (Left, Right)"
461,blissblood.com,Cantonement Jazz Band,AvantGarde|International|,Bessemer
462,blissblood.com,Cantonement Jazz Band,AvantGarde|International|,Has Been Blues
463,blissblood.com,Cantonement Jazz Band,AvantGarde|International|,I'll Be Blue
464,blissblood.com,Cantonement Jazz Band,AvantGarde|International|,The Way I Feel Today

In [75]:
ge_ar.head(10)

           album_title artist_name       genre   track_title
track_id
40077     Negativeland        Kido  Electronic     Washedout
40078     Negativeland        Kido  Electronic  Er-calculate
40079     Negativeland        Kido  Electronic       Ongoing
40080     Negativeland        Kido  Electronic   Midnightman
40081     Negativeland        Kido  Electronic         .....

In [76]:
ge_mix.head(10)

,album_title,artist_name,genre,track_title
track_id,,,,
8202,P.E.D. N.J. Hardcore 1985-89 (Bootleg),P.E.D.,Rock,I am the sam
19268,groKwork,Receptors,Electronic,grokwerk stomp
547,One Mind,Charles Manson,Folk,I Keep On Wondering (Interrupted)
1141,Since Before Inertia,Minmae,Rock,New Lilith/Flashing Timex
13930,Old Town School of Folk Music: Volumes Two An...,Foghorn Stringband,Folk,John Henry
1042,Brave Nu World,Little Howlin' Wolf,Blues,Big Ole Bear
5028,Edison Bell Record: 6901,Whit Cunliffe,OldTime|Historic,What does it matter to me?
19234,2008 Sampler,I Have Clones,Electronic,Acid-Test Ratio
23858,Digi-Dig,Goto80,Electronic,Monster
23837,Pxl Def,Xerak,AvantGarde|International|Blues|Jazz|,La sphere la terre